sdks/multion-js/node_modules
sdks/multion-js/dist
sdks/multion-ts/node_modules
sdks/multion-ts/dist
sdks/multion-ts-2/node_modules
sdks/multion-ts-2/dist
sdks/multion-py/multion/secrets.json
sdks/multion-py/dist
sdks/multion-py/poetry.lock

node_modules
__pycache__
.DS_Store
*.pyc