env*

sdks/multion-js/node_modules
sdks/multion-js/dist
sdks/multion-ts/node_modules
sdks/multion-ts/dist
sdks/multion-ts-2/node_modules
sdks/multion-ts-2/dist
sdks/multion-py-old/multion/secrets.json
sdks/multion-py-old/dist
sdks/multion-py-old/poetry.lock

node_modules
__pycache__
.DS_Store
*.pyc